    /* точечно снимаем то, что ломает сетку */
.tn-form_horiz .t-input-group {
  /*order: initial !important;*/
  /*flex: initial !important;*/
  flex-basis: initial !important;
  /*width: initial !important;*/
  margin-top: initial !important;
  display: initial !important;
}

.tn-form_horiz .t-form__submit, .tn-form_horiz .tn-form__submit {
    margin-top: initial !important;
}
